.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legend {
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
}

.legend > .tile {
  margin: 0 10px;
}
