.row {
  display: flex;
  flex-direction: row;
}

.map {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.find-btn {
  margin: 20px;
  box-sizing: border-box;
}
